//color
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b484;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

$color-white:#fff;
$color-dark: #777;
$color-black: #333;
$color-grey-light:#f7f7f7;
//margin
$margin-small: 2rem;
$margin-medium: 4rem;
$margin-big:8rem;
$margin-huge:16rem;
//font
$default-font-size: 1.625 rem;