

.centered-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.margin-bottom-small {
  margin-bottom: 2rem !important;
}
.centering {
  @include absCenter;
  &:hover {
    transform: translate(-50%, -55%);
  }
}